{{ define "main" }}
<main class="page-main pa4" role="main">
  <section class="blog-intro mw8 center tc mb5">
    <h2 class="f2 f1-ns lh-solid center fw4">{{ .Title }}</h2>
	 <p class="f6 f5-ns measure lh-copy center">{{ .Description | markdownify }}</p>
  </section>
  <section class="page-content mw9 center">
    {{ if .Params.show_title_as_headline }}<h1 class="f2 f1-m f-headline-l fw5-ns mv4 lh-solid tracked-tight-ns">{{ .Title }}</h1>{{ end }}
    {{ .Content }}
  </section>
</main>
{{ end }}
